* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62, 5%; }

/*----------INDEX----------*/
.encabezado {
  background-color: yellow; }
  .encabezado h1 {
    font-size: 50px;
    font-family: Syne Mono;
    text-align: center;
    text-decoration: underline red; }

.navegacion {
  border: 2px black solid;
  background-color: red;
  position: sticky;
  top: 0px;
  margin: 0px 200px; }
  .navegacion li {
    font-size: 20px;
    padding: 10px 20px;
    display: inline-block; }
    .navegacion li a {
      font-family: Syne Mono;
      color: black;
      text-decoration: overline underline; }
    .navegacion li:hover {
      background-color: yellow; }

.seccion1 {
  display: flex;
  align-items: center;
  justify-content: center; }

.principal {
  background-color: none;
  font-size: 30px;
  font-family: Syne Mono;
  color: white; }

.gridsIndex {
  background: radial-gradient(red, black); }

.imgPrueba {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  padding: 30px; }

/*----------INTEGRANTES----------*/
.gridsIntegrantes {
  background-color: black; }

.encabezado {
  background-color: yellow; }
  .encabezado h1 {
    font-size: 50px;
    font-family: Syne Mono;
    text-align: center;
    text-decoration: underline red; }

/*AXL*/
.axl {
  background: linear-gradient(yellow, red); }
  .axl .axlTitulo {
    font-family: Syne Mono;
    text-align: center;
    text-decoration: underline red;
    font-size: 25px; }
  .axl .axlFoto, .axl .contAxl {
    display: flex;
    align-items: center;
    justify-content: center; }
  .axl .axlTexto {
    font-family: Syne Mono;
    font-size: 20px;
    text-align: center; }

/*SLASH*/
.slash {
  background: linear-gradient(red, yellow); }
  .slash .slashTitulo {
    font-family: Syne Mono;
    text-align: center;
    text-decoration: underline yellow;
    font-size: 25px; }
  .slash .slashFoto, .slash .contSlash {
    display: flex;
    align-items: center;
    justify-content: center; }
  .slash .slashTexto {
    font-family: Syne Mono;
    font-size: 20px;
    text-align: center; }

/*DUFF*/
.duff {
  background: linear-gradient(yellow, red); }
  .duff .duffTitulo {
    font-family: Syne Mono;
    text-align: center;
    text-decoration: underline red;
    font-size: 25px; }
  .duff .duffFoto, .duff .contDuff {
    display: flex;
    align-items: center;
    justify-content: center; }
  .duff .duffTexto {
    font-family: Syne Mono;
    font-size: 20px;
    text-align: center; }

/*IZZY*/
.izzy {
  background: linear-gradient(red, yellow); }
  .izzy .izzyTitulo {
    font-family: Syne Mono;
    text-align: center;
    text-decoration: underline yellow;
    font-size: 25px; }
  .izzy .izzyFoto, .izzy .contIzzi {
    display: flex;
    align-items: center;
    justify-content: center; }
  .izzy .izzyTexto {
    font-family: Syne Mono;
    font-size: 20px;
    text-align: center; }

/*STEVEN*/
.steven {
  background: linear-gradient(yellow, red); }
  .steven .stevenTitulo {
    font-family: Syne Mono;
    text-align: center;
    text-decoration: underline red; }
  .steven .stevenFoto, .steven .contSteve {
    display: flex;
    align-items: center;
    justify-content: center; }
  .steven .stevenTexto {
    font-family: Syne Mono;
    font-size: 20px;
    text-align: center; }

/*----------HISTORIA----------*/
.gridsHistoria {
  background: radial-gradient(red, black); }

.encabezado {
  background-color: yellow; }
  .encabezado h1 {
    font-size: 50px;
    font-family: Syne Mono;
    text-align: center;
    text-decoration: underline red; }

.historiaMain {
  background-image: url(https://i.pinimg.com/originals/2d/60/87/2d60872b171cc9c73d7d903c89150ce6.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }
  .historiaMain .parrafoMain1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Syne Mono;
    color: white; }
  .historiaMain .historiaImg {
    display: flex;
    align-items: center;
    justify-content: center; }
  .historiaMain .imagen2 {
    transition: all 1s;
    display: flex;
    align-items: center;
    justify-content: center; }
    .historiaMain .imagen2:hover {
      height: 300px;
      margin: 25px; }
  .historiaMain .imagen1 {
    height: 200px;
    transition: all 1s; }
    .historiaMain .imagen1:hover {
      height: 300px;
      transform: rotate(360deg);
      margin: 25px; }
  .historiaMain .imagen2 {
    height: 200px;
    transition: all 1s; }
    .historiaMain .imagen2:hover {
      height: 300px;
      margin: 25px; }

/*----------DISCOGRAFIA----------*/
.bodyDisco {
  background-color: black; }

.encabezado {
  background-color: yellow; }
  .encabezado h1 {
    font-size: 50px;
    font-family: Syne Mono;
    text-align: center;
    text-decoration: underline red; }

.titulo1 {
  font-family: Syne Mono;
  text-align: center;
  text-decoration: underline yellow;
  font-size: 25px;
  color: red; }

.Appetite, .lies, .illusion, .illusion2, .Incident, .Democracy {
  display: flex;
  align-items: center;
  justify-content: center; }

/*----------CONTACTO----------*/
.bodyContacto {
  background-color: black; }

.encabezado {
  background-color: yellow; }
  .encabezado h1 {
    font-size: 50px;
    font-family: Syne Mono;
    text-align: center;
    text-decoration: underline red; }

.contactoTexto {
  font-family: Syne Mono;
  text-align: center;
  text-decoration: underline yellow;
  font-size: 20px;
  color: white; }

.marco {
  background-color: yellow;
  border-color: red; }
  .marco legend {
    font-family: Syne Mono;
    text-decoration: underline red;
    font-size: 25px;
    color: black; }

.marco2 {
  background-color: yellow; }

.inputNombre {
  width: 150px;
  transition: all 1s; }
  .inputNombre:focus {
    width: 250px;
    font-size: 25px; }

.inputCorreo {
  width: 150px;
  transition: all 1s; }
  .inputCorreo:focus {
    width: 250px;
    font-size: 25px; }

.inputTel {
  width: 150px;
  transition: all 1s; }
  .inputTel:focus {
    width: 250px;
    font-size: 25px; }

/*----------FOOTER----------*/
.footer {
  display: inline-block;
  bottom: 0px;
  background-color: black;
  padding: 5px 10px;
  border: 3px yellow solid; }
  .footer a {
    display: inline-block;
    background-color: red;
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px; }
    .footer a:hover {
      background-color: yellow; }

.footer__titulo {
  color: red;
  font-family: Syne Mono; }
